@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lato&family=Oswald&display=swap');

.App {
  height: 100vh;
 
}

.header {
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  background-color: #DAE7DD;
  height: 100px;
}

.nav-bar ul{
  display: flex;
}

.nav-bar .flex {
  justify-content: space-between
}
.container {
  width: 70%; 
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

h1,h2,h3 {
  font-family: Oswald;
}

h5 {
  font-family: Roboto;
}

p{
  font-size: 18px;
  font-family: Lato;
}